<div id="leftsidebar">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a>
          Что-то тут
        </a>
      </li>
      <li>
        <a>Раздел</a>
      </li>
      <li>
        <a>Ещё раздел</a>
      </li>
      <li>
        <a>Опять раздел</a>
      </li>
      <li>
        <a>Снова раздел</a>
      </li>
      <li>
        <a>Какой-то раздел</a>
      </li>
      <li>
        <a>Предпоследний раздел</a>
      </li>
      <li>
        <a>Жопка</a>
      </li>
    </ul>
  </div>
</div>
